@charset "utf-8";
* {
   margin: 0;
   padding: 0;
   font-size:14px;
  }
body 
{
	text-align:center;	
}
a{
    text-decoration:none;
	}
#main {

	width:960px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;	
}
#main_body{
	overflow:hidden;
	position:relative;
	background-color:#ecebeb;
	}
#main_body_inner{
    margin-left:40px;
	margin-top:30px;
	margin-right:40px;
	margin-bottom:50px;
	float:left;
	border-style:solid;
	border-width:1px;
	border-color:#cccccc #cccccc #cccccc #cccccc;
	}
#inner_left{
    background-color:#fff;
	width:640px;
	float:left;
}
#left_content{
    padding-left:60px;
	width:520px;
	float:left;
}
#left1{
    height:140px;
	width:520px;
	border-style:solid;
	border-width:1px;
	border-color:#ffffff #ffffff #46c9c7 #ffffff;
}
#title{
    color:#46c9c7;
	font-size:40px;
	font-weight: bold;
	padding-top:29px;
	float:left;
	font-family:"微软雅黑", "宋体", serif;
	}
.attention{
    float:right;
	margin-top:65px;
	margin-right:30px;
	}
#attention_img{
    height:15px;
	width:15px;
	background:url(../Images/attention.png);
	background-repeat:no-repeat;
	float:left;
	}
#attention_text{
    margin-left:3px;
    float:left;
	color:#46c9c7;
	}
#shuoming{
    padding-top:35px;
	float:left;
    width:520px;
	}
#biaoqian{
    float:left;
	}
.bq{
    background-color:#ecebeb;
	font-size:13px;
	color:#999;
	float:left;
	margin-left:5px;
	border-style:solid;
	border-width:1px;
	border-color:#cccccc;
	-webkit-border-radius: 3px;
	}
#redu{
    color:#999;
	float:right;
	padding-right:5px;
	}
#pinglun{
   float:right;
   padding-right:76px;
   }
#pinglun:link{
   color:#999;
   }
#pinglun:visited{
   color:#999;
   }
 #left2{
    height:140px;
	width:520px;
	border-style:solid;
	border-width:1px;
	border-color:#ffffff #ffffff #46c9c7 #ffffff;
}
.information{
    padding-top:10px;
	float:left;
	width:520px;
    }
#time_img{
    background:url(../Images/time.png);
	background-repeat:no-repeat;
	height:18px;
	width:15px;
	float:left;
	}
#time_text{
    color:#46c9c7;
	padding-left:5px;
	float:left;
	line-height:18px;
	font-weight:bold;
	font-family:"微软雅黑", "宋体", serif;
	}
#place_img{
    background:url(../Images/place.png);
	background-repeat:no-repeat;
	height:19px;
	width:15px;
	float:left;
	}
#place_text{
    color:#46c9c7;
	padding-left:5px;
	float:left;
	line-height:19px;
	font-weight:bold;
	font-family:"微软雅黑", "宋体", serif;
	}
#host_img{
    background:url(../Images/host.png);
	background-repeat:no-repeat;
	height:17px;
	width:15px;
	float:left;
	}
#host_text{
    color:#46c9c7;
	padding-left:5px;
	float:left;
	line-height:17px;
	font-weight:bold;
	font-family:"微软雅黑", "宋体", serif;
	}
#contact_img{
    background:url(../Images/contact.png);
	background-repeat:no-repeat;
	height:16px;
	width:15px;
	float:left;
	}
#contact_text{
    color:#46c9c7;
	padding-left:5px;
	float:left;
	line-height:16px;
	font-weight:bold;
	font-family:"微软雅黑", "宋体", serif;
	}
#left3{
    float:left;
	width:520px;
	border-bottom:dashed #999 thin;
	}
#activity_introduction{
    padding-top:30px;
	line-height:20px;
	}
#activity_introduction p{
    font-family:"微软雅黑", "宋体", serif;
    letter-spacing: 1px;
	text-indent:2.2em;
	}
#activity_img{
    float:left;
    padding-top:20px;
	}
#activity_img img{
    border-style:solid;
	border-width:5px;
	border-color:#999 #999 #999 #999;
}
#share{
    float:left;
	width:220px;
	padding-top:20px;
	padding-left:300px;
	padding-bottom:20px;
}
#share_text{
    color:#999;
	}
#left4{
    float:left;
	padding-bottom:50px;
	}
#remark{
    float:left;
	padding-top:20px;
}
#user_img{
    height:50px;
	width:50px;
	background-color:#e2f4f4;
	float:left;
}
#remark_content{
    float:left;
	padding-left:20px;
	width:450px;
}
#top{
    float:left;
	width:450px;
	background-color:#e2f4f4;
	}
#username{
    float:left;
	padding-left:20px;
	color:#39bebc;
	line-height:20px;
	font-weight:bold;
	}
#remark_time{
    padding-left:20px;
    float:left;
	line-height:20px;
	font-weight:bold;
	color:#999;
	}
#middle{
    float:left;
	padding-top:20px;
	}
#middle p{
    letter-spacing: 1px;
	text-indent:2.2em;
	font-family:"微软雅黑", "宋体", serif;
	}
#bottom{
    float:left;
	padding-top:20px;
	}
#btn_replay{
    margin-left:400px;
	background-color:#e2f4f4;
	}
#btn_replay:link{
    color:#999;
	}
#btn_replay:visited{
    color:#999;
	}
#replay{
    float:left;
	padding-top:20px;
}
#replay_text{
    float:left;
	padding-top:5px;
	}
textarea{
    height:100px;
	width:520px;
	resize:none;
}
#replay_bottom{
    float:left;
	padding-top:5px;
	}
#submit{
    background-color:#e2f4f4; 
    float:left;	
}
#aite{
    background-color:#e2f4f4;
	float:left;	
	margin-left:440px;
}
#submit:link{
    color:#999;
	}
#submit:visited{
    color:#999;
	}
#aite:link{
    color:#999;
	}
#aite:visited{
    color:#999;
	}
#inner_right{
    background-color:#e2f4f4;
	width:238px;
	float:left;
}
#right_content{
    padding-left:15px;
	float:left;
	}
#right1{
    border-bottom:solid #999 thin;
	height:100px;
	width:208px;
	float:left;
}
#guanzhu_title{
    padding-left:15px;
	padding-top:70px;
	color:#999;
	font-size:16px;
	font-weight:bold;
	font-family:"微软雅黑", "宋体", serif;
}
#right2{
	width:208px;
	float:left;
}
#touxiang{
    padding-top:30px;
	padding-left:10px;
	float:left;
}
#touxiang_img1{
    background-color:#f5e817;
	}
.touxiang_img{
    height:50px;
	width:50px;
}
.touxiang_text{
    font-family:"微软雅黑", "宋体", serif;
    color:#999;
    width:50px;
    text-align:center;
    line-height:25px;	
}
.tx{
    margin-right:15px;
	margin-bottom:20px;
	float:left;
}
#right3{
    border-bottom:solid #999 thin;
	height:60px;
	width:208px;
	float:left;
	padding-top:30px;
}
#interest_title{
    padding-left:15px;
	padding-top:30px;
	color:#999;
	font-size:16px;
	font-weight:bold;
	font-family:"微软雅黑", "宋体", serif;
}
#right4{
	width:208px;
	float:left;
	padding-top:30px;
	padding-bottom:50px;
}
ul {
	padding:1.1em 1.1em 2px 1.1em;
}
li{
    border-bottom:dashed #999 thin;
	height:20px;
	color:#999;
	padding-top:5px;
	text-align:left;
	list-style-position:inside;
	list-style-type:none;
	font-family:"微软雅黑", "宋体", serif;
}
li a:link{
  color:#999;
}
ul li a:hover{
  color:#46c9c7;
}
li a:visited{
  color:#999;
}
