@charset "utf-8";
* {
   margin: 0px;
   padding: 0px;
   font-size:14px;
   font-family:"微软雅黑", "宋体", serif
  }
body 
{
	text-align:center;	
}
#tubiao a:link{color:red;}
#tubiao a:visited{color:red;}
#tubiao a:hover{color:white;}

#tubiao p { 
            font-size:2px;
            font-family:"微软雅黑", "宋体", serif
			
}
a{
    text-decoration:none;
	display:block;
	}
#main {

	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;	
}
#header{
    background-color:#46c9c7;
	width:100%;
	height:30px;
	border-bottom:solid #384e4d 5px;
}
#m_num{
    color:#fff;
    float:left;	
	text-align:center;
	margin-left:-5px;
	margin-top:5px;
	height:16px;
	width:16px;
	font-size:12px;
	background-color:red;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
}
#g_num{
	color:#fff;
	float:left;	
    text-align:center;	
	height:16px;
	width:16px;
	margin-left:-8px;
	margin-top:5px;
	font-size:12px;
	background-color:red;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
}
#logo{
    height:18px;
	width:101px;
	background:url(../Images/logo1.png);
	background-repeat:no-repeat;
	margin-top:6px;
	margin-left:30px;
	float:left;
	}
#navigation{
	float:left;
	padding-left:20px;
	}
.navigation_link{
    text-align:center;
	width:50px;
	line-height:30px;
	float:left;
	}
.navigation_link a:hover{
    background-color:#fff;
	}
#wall{
    width:60px;
	}
#message{
    float:left;
	padding-left:1%;
	padding-top:6px;
	}
#message_image{
    height:20px;
	float:left;
	width:23px;
	background:url(../Images/message.png);
	background-repeat:no-repeat;
	}
#love{
    float:left;
	padding-left:1%;
	padding-top:6px;
	}
#love_image{
    float:left;
    height:20px;
	width:23px;
	background:url(../Images/love.png);
	background-repeat:no-repeat;
	}
#user{
    text-align:center;
	line-height:30px;
	padding-left:1%;
	float:left;
  }
#exit{
    text-align:center;
	line-height:30px;
	padding-left:1%;
	float:left;
    }
#user a:hover{
    background-color:#fff;
	}	
#exit a:hover{
    background-color:#fff;
	}
#main_body{
	overflow:hidden;
	position:relative;
	background-color:#d4dada;
	}
#main_body_inner{
    margin-left:2%;
	margin-top:10px;
	margin-right:2%px;
	float:left;
	height:660px;
	width:96%;
	border-style:solid;
	border-width:1px;
	border-color:#97c4c4 #97c4c4 #f0fafa #97c4c4;
	background:url(../Images/background.png);
	}
#footer{
   border-top:dashed #999 thin;
   height:70px;
   background-color:#ecebeb;
}
#footer_link{
    float:left;
	width:940px;
	padding-top:20px;
	padding-left:10%;
}
#footer_text{
    float:left;
	padding-top:10px;
	width:100%;
}
#footer_text pre{
    font-family:"微软雅黑", "宋体", serif;
	font-size:12px;
	float:left;
	padding-left:60%;
	color:#999;
}
.link{
    float:left;
	padding-left:20px;
	font-family:"微软雅黑", "宋体", serif;
	}
.link:link{
    color:#46c9c7;
	}
a.link:hover{
    color:#999;
}
.link:visited{
    color:#46c9c7;
	}	
#gua1{
    position:absolute;
	top:35px;
	left:8%;
	height:15px;
	width:2px;
	background-color:#9abebe;
}
#gua2{
    position:absolute;
	top:35px;
	left:18%;
	height:15px;
	width:2px;
	background-color:#9abebe;
}
#club_lable{
    position:absolute;
	top:50px;
	left:5%;
	height:80px;
	width:250px;
	}
#lable_top{
    height:65px;
	background-color:#41c2c0;
	opacity:0.8;
	position:relative;
	}
#lable_bottom{
    height:30px;
	background-color:#268887;
	opacity:0.8;
	position:relative;
	}
#touxiang2{  
    position:relative;
	float:left;
    width:35px;
	height:35px;
	margin-left:10px;
	margin-top:10px;
	}
#name{
  float:left;
  padding-top:15px;
  padding-left:10px;
  width:180px;
  color:#fff;
  font-size:18px;
  font-family:"微软雅黑", "宋体", serif;
  text-align:left;
}
#address{
    float:left;
	padding-top:5px;
    padding-left:10px;
    color:#fff;
    font-size:12px;
    font-family:"微软雅黑", "宋体", serif;
}
#guanzhu{
    float:left;
	margin-top:5px;
    margin-left:10px;
    color:#fff;
    font-size:12px;
    font-family:"微软雅黑", "宋体", serif;
	width:40px;
	height:20px;
	background-color:#fdcd00;
	text-align:center;
	line-height:20px;
}
#number{
    float:left;
	margin-top:5px;
    margin-left:10px;
    color:#cccccc;
    font-size:12px;
    font-family:"微软雅黑", "宋体", serif;
	text-align:center;
	line-height:20px;
}
#chumen{
    float:left;
	margin-top:5px;
    margin-left:70px;
	width:60px;
	height:20px;
	background-color:#5ea8a7;
	text-align:center;
}	
#chumen_img{
    float:left;
	margin-top:2px;
	margin-left:5px;
    height:18px;
	width:12px;
	background:url(../Images/jiantou.png);
	background-repeat:no-repeat;
}
#chumen_text{
    float:left;
	color:#fff;
	line-height:20px;
	margin-left:5px;
}
#danganshi{
    height:500px;
	width:70%;
	margin-left:15%;
	float:left;
	margin-top:70px;
	-webkit-box-shadow: 5px 5px 7px #999;
	border-style:solid;
	border-width:1px;
	border-color:#cccccc #cccccc #cccccc #cccccc;
}
#danganshi_biaoti{
    position:absolute;
	top:100px;
	right:45%;
	height:40px;
	width:160px;
	background-color:#fff;
	color:#999;
	font-size:16px;
	font-weight:bold;
	font-family:"微软雅黑", "宋体", serif;
	line-height:40px;
	text-align:center;
	border-style:solid;
	border-width:1px;
	border-color:#cccccc #cccccc #cccccc #cccccc;
}
#lyb, #yxg
{
	height:500px;
	width:100%;
	float:left;
	border:none;
	background-color:#fff;
}
#right_content_k{
       width:250px;
	   height:100%;
}

#quname_k{
	padding-left:20px;
	width:250px;
	height:100px;
	background-color:#e8f8f8;	
       }	

#xxx_k{
     padding-top:15px;
	float:left;
	 font-size:20px;
	 color:#46c9c7;
}	   

#xxx_k2{
     padding-top:15px;
	 float:left;
	 font-size:15px;
	 color:#999;
}	   
				
#di_k{
      margin-top:10px;
	  float:left;
	  width:250px;
	  border-bottom:1px solid #999;
}

#right3_k{
		  width: 230px;        
}

#interest_title_k{
    padding-left:25px;
	padding-top:55px;
	color:#999;
	font-size:22px;
	font-family:"微软雅黑", "宋体", serif;
	float:left;
}




#right_content_t{
       width:250px;
	   height:100%;
}

#quname_t{
	padding-left:20px;
	width:250px;
	height:100px;
	background-color:#e8f8f8;	
       }	

#xxx_t{
     padding-top:15px;
	float:left;
	 font-size:20px;
	 color:#46c9c7;
}	   

#xxx_t2{
     padding-top:15px;
	 float:left;
	 font-size:15px;
	 color:#999;
}	   
				
#di_t{
      margin-top:10px;
	  float:left;
	  width:250px;
	  border-bottom:1px solid #999;
}

#right3_t{
		  width: 230px;        
}

#interest_title_t{
    padding-left:25px;
	padding-top:55px;
	color:#999;
	font-size:22px;
	font-family:"微软雅黑", "宋体", serif;
	float:left;
}


#right_content_x{
       width:250px;
	   height:100%;
}

#quname_x{
	padding-left:20px;
	width:250px;
	height:100px;
	background-color:#e8f8f8;	
       }	

#xxx_x{
     padding-top:15px;
	float:left;
	 font-size:20px;
	 color:#46c9c7;
	 width:100px;
}	   

#xxx_x2{
     padding-top:15px;
	 float:left;
	 font-size:15px;
	 color:#999;
}	   
				
#di_x{
      margin-top:10px;
	  float:left;
	  width:250px;
	  border-bottom:1px solid #999;
}

#right3_x{
		  width: 230px;        
}

#interest_title_x{
    padding-left:25px;
	padding-top:55px;
	color:#999;
	font-size:22px;
	font-family:"微软雅黑", "宋体", serif;
	float:left;
}


#right_content_w{
       width:250px;
	   height:100%;
}

#quname_w{
	padding-left:20px;
	width:250px;
	height:100px;
	background-color:#e8f8f8;	
       }	

#xxx_w{
     padding-top:15px;
	float:left;
	 font-size:20px;
	 color:#46c9c7;
}	   

#xxx_w2{
     padding-top:15px;
	 float:left;
	 font-size:15px;
	 color:#999;
}	   
				
#di_w{
      margin-top:10px;
	  float:left;
	  width:250px;
	  border-bottom:1px solid #999;
}

#right3_w{
		  width: 230px;        
}

#interest_title_w{
    padding-left:25px;
	padding-top:55px;
	color:#999;
	font-size:22px;
	font-family:"微软雅黑", "宋体", serif;
	float:left;
}


#right_content_c{
       width:250px;
	   height:100%;
}

#quname_c{
	padding-left:20px;
	width:250px;
	height:100px;
	background-color:#e8f8f8;	
       }	

#xxx_c{
     padding-top:15px;
	float:left;
	 font-size:20px;
	 color:#46c9c7;
}	   

#xxx_c2{
     padding-top:15px;
	 float:left;
	 font-size:15px;
	 color:#999;
}	   
				
#di_c{
      margin-top:10px;
	  float:left;
	  width:250px;
	  border-bottom:1px solid #999;
}

#right3_c{
		  width: 230px;        
}

#interest_title_c{
    padding-left:25px;
	padding-top:55px;
	color:#999;
	font-size:22px;
	font-family:"微软雅黑", "宋体", serif;
	float:left;
}


#right_content_z{
       width:250px;
	   height:100%;
}

#quname_z{
	padding-left:20px;
	width:250px;
	height:100px;
	background-color:#e8f8f8;	
       }	

#xxx_z{
     padding-top:15px;
	float:left;
	 font-size:20px;
	 color:#46c9c7;
}	   

#xxx_z2{
     padding-top:15px;
	 float:left;
	 font-size:15px;
	 color:#999;
}	   
				
#di_z{
      margin-top:10px;
	  float:left;
	  width:250px;
	  border-bottom:1px solid #999;
}

#right3_z{
		  width: 230px;        
}

#interest_title_z{
    padding-left:25px;
	padding-top:55px;
	color:#999;
	font-size:22px;
	font-family:"微软雅黑", "宋体", serif;
	float:left;
}











#right_t{
          width: 250px;
          float: left;
          padding-top: 30px;
          padding-bottom: 30px;
	 
}
#right_k{
          width: 250px;
          float: left;
          padding-top: 30px;
          padding-bottom: 30px;
	 
}
#right_x{
          width: 250px;
          float: left;
          padding-top: 30px;
          padding-bottom: 30px;
	 
}
#right_c{
          width: 250px;
          float: left;
          padding-top: 30px;
          padding-bottom: 30px;
	 
}
#right_z{
          width: 250px;
          float: left;
          padding-top: 30px;
          padding-bottom: 30px;
	 
}
#right_w{
          width: 250px;
          float: left;
          padding-top: 30px;
          padding-bottom: 30px;
	 
}

#app-sidebar ul li a{
	font-family:"宋体", "微软雅黑", serif;
	font-size:14px;
	border-bottom: 1px dashed #999;
	margin-bottom:15px;
	}
#app-sidebar  ul li a:link {
	color:#34c5c3;
}
#app-sidebar ul li a:visited {
	color:#34c5c3;
}
#app-sidebarul li a:hover {
	color: #34c5c3;
}
#app-sidebar li{list-style-type:none;
                  background:url(../Images/host.png)  no-repeat;
                  padding-left:5px;}
#app-sidebar ul{
                  
                  padding-left:25px;}
				  



#more_t1{
    margin-left:45px;
	margin-top:65px;
	float:left;
	height:18px;
	width:18px;
	background:url(../Images/gengduo_left.png);
	background-repeat:no-repeat;
}
#more_t2{
    margin-left:5px;
	margin-top:65px;
	height:18px;
	width:18px;
	float:left;
	background:url(../Images/gengduo_right.png);
	background-repeat:no-repeat;
}
#more_k1{
    margin-left:45px;
	margin-top:65px;
	float:left;
	height:18px;
	width:18px;
	background:url(../Images/gengduo_left.png);
	background-repeat:no-repeat;
}
#more_k2{
    margin-left:5px;
	margin-top:65px;
	height:18px;
	width:18px;
	float:left;
	background:url(../Images/gengduo_right.png);
	background-repeat:no-repeat;
}
#more_w1{
    margin-left:45px;
	margin-top:65px;
	float:left;
	height:18px;
	width:18px;
	background:url(../Images/gengduo_left.png);
	background-repeat:no-repeat;
}
#more_w2{
    margin-left:5px;
	margin-top:65px;
	height:18px;
	width:18px;
	float:left;
	background:url(../Images/gengduo_right.png);
	background-repeat:no-repeat;
}
#more_x1{
    margin-left:45px;
	margin-top:65px;
	float:left;
	height:18px;
	width:18px;
	background:url(../Images/gengduo_left.png);
	background-repeat:no-repeat;
}
#more_x2{
    margin-left:5px;
	margin-top:65px;
	height:18px;
	width:18px;
	float:left;
	background:url(../Images/gengduo_right.png);
	background-repeat:no-repeat;
}
#more_z1{
    margin-left:45px;
	margin-top:65px;
	float:left;
	height:18px;
	width:18px;
	background:url(../Images/gengduo_left.png);
	background-repeat:no-repeat;
}
#more_z2{
    margin-left:5px;
	margin-top:65px;
	height:18px;
	width:18px;
	float:left;
	background:url(../Images/gengduo_right.png);
	background-repeat:no-repeat;
}
#more_c1{
    margin-left:45px;
	margin-top:65px;
	float:left;
	height:18px;
	width:18px;
	background:url(../Images/gengduo_left.png);
	background-repeat:no-repeat;
}
#more_c2{
    margin-left:5px;
	margin-top:65px;
	height:18px;
	width:18px;
	float:left;
	background:url(../Images/gengduo_right.png);
	background-repeat:no-repeat;
}
.more:hover{
    opacity:0.7;
}


.attention{
	float:right;
	height:20px;
	width:60px;

}
.attention_img {
	margin-left:10px;
	margin-top:2px;
	height: 15px;
	width: 15px;
	background: url(../Images/attention.png);
	background-repeat: no-repeat;
	float: left;
	cursor:pointer;
}
.attention_text{
	float:left;
	color:#46c9c7;
	font-size:12px;
	font-family:"微软雅黑", "宋体", serif;
	cursor:pointer;
}

.bd .club{
	float:left;
	border-bottom: dashed #999 thin;
	width:200px;
	height:40px;
}
.club .club_name{
	color:#000;
	font-size:14px;
	font-family:"微软雅黑", "宋体", serif;
	float:left;
	margin-top:16px;
	margin-left:15px;
	
}