@charset "utf-8";
#footer{
   border-top:dashed #999 thin;
   height:70px;
   background-color:#ecebeb;
}
#footer_link{
    float:left;
	width:940px;
	padding-top:20px;
	padding-left:10%;
}
#footer_text{
    float:left;
	padding-top:10px;
	width:100%;
}
#footer_text pre{
    font-family:"微软雅黑", "宋体", serif;
	font-size:12px;
	float:left;
	padding-left:60%;
	color:#999;
}
.link{
    float:left;
	padding-left:20px;
	font-family:"微软雅黑", "宋体", serif;
	}
.link:link{
    color:#46c9c7;
	}
a.link:hover{
    color:#999;
}
.link:visited{
    color:#46c9c7;
	}	