@charset "utf-8";
* {
   margin: 0px;
   padding: 0px;
   font-size:14px;
   font-family:"微软雅黑", "宋体", serif
  }
body 
{
	text-align:center;	
}
a{
    text-decoration:none;
	}
#main {

	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;	
}
#main_body{
	overflow:hidden;
	position:relative;
	background-color:#fff;
	}
.liuyan{
    width:230px;
    height: 200px;
	float:left;
	margin-top:40px;
	margin-left:40px;
	margin-bottom:20px;
	background-color:#fdfede;
	-webkit-box-shadow: 5px 5px 7px #999;
	border-style:solid;
	border-width:1px;
	border-color:#cccccc #cccccc #cccccc #cccccc;
}
.top{
    float:left;
	width:230px;
	}
.club_name{
    float:left;
	margin-left:10px;
	margin-top:10px;
	width:170px;
	height:35px;
	color:#00c0ff;
	font-family:"微软雅黑", "宋体", serif;
}
.iframe{
    float:left;
	margin-top:5px;
	margin-left:40px;
}
.liuyan_img{
    background:url(../images/liuyan.png);
	background-repeat:no-repeat;
	height:17px;
	width:20px;
	float:left;
}
.liuyan_num{
    color:#f0746d;
	float:left;
}
.time{
    float:left;
	margin-left:10px;
	margin-top:5px;
	color:#6d6d6d;
	font-family:"微软雅黑", "宋体", serif;
}
.club_touxiang{  
    position:relative;
	float:left;
    width:35px;
	height:35px;
	margin-left:10px;
	margin-top:10px;
	}
.bottom{
    float:left;
	width:230px;
	padding-top:20px;
	padding-bottom:20px;
}
.liuyan_content{
  font-family:"微软雅黑", "宋体", serif;
  padding-left:20px;
  width:190px;
  color:#6d6d6d;
}
p{
     text-indent:2em;
}
#say_head{
	text-align:left;
	font-family:"微软雅黑", "宋体", serif;
	font-size:26px;
	padding-top:30px;
	padding-left:50px;
	border-top:solid 1px #c75a30;
	border-left:solid 1px #c75a30;
	border-right:solid 1px #c75a30;
}
#say_write{
	border-left:solid 1px #c75a30;
	border-right:solid 1px #c75a30;
}
#fabiao{
	border-left:solid 1px #c75a30;
	border-right:solid 1px #c75a30;
	border-bottom:solid 1px #c75a30;
}
#say_close{
	position: absolute;
	top: -12px;
	right: -12px;
	z-index: 4;
	display: block;
	width: 27px;
	height: 28px;
	text-indent: -3000px;
	overflow: hidden;
	background:url(../images/close.png) no-repeat;
	cursor:pointer;
}
#ly a{
	position:absolute; 
	right:15px; 
	top:3px;
	z-index:99;
	width:50px;
	height:54px;
	line-height:52px;
	text-align:center;
	color:#fff;
	background:url(../images/bn-post.png) no-repeat;
	font-weight: bold;
}