@charset "utf-8";
* {
   margin: 0px;
   padding: 0px;
   font-size:14px;
   font-family:"微软雅黑", "宋体", serif
  }
body 
{
	text-align:center;	
}
a{
    text-decoration:none;
	}
#main {

	width:840px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;	
}
#main_body{
	overflow:hidden;
	position:relative;
	background-color:#fff;
	}
.photo{
	float:left;
	width:262px;
}
.photo_img{
    width:230px;
	height:150px;
	float:left;
	margin-top:50px;
	margin-left:30px;
	background-color:#fff;
	border-style:solid;
	border-width:1px;
	border-color:#cccccc #cccccc #cccccc #cccccc;
}
.photo_text{
    float:left;
	padding-top:5px;
	}
.photo_name{
    float:left;
	margin-left:30px;
	color:#a3a4a4;
	font-family:"微软雅黑", "宋体", serif;
}
.photo_num{
    float:left;
	margin-left:165px;
	color:#a3a4a4;
	font-family:"微软雅黑", "宋体", serif;
}
img{
    margin-left:8px;
	margin-top:8px;
	width:212px;
	height:132px;	
	border-style:solid;
	border-width:1px;
	border-color:#cccccc #cccccc #cccccc #cccccc;
}